.dialog-delete-title {
  font-weight: 600;
  font-size: 16px;
  color: #486377;
  display: flex;
  justify-content: center;
}
.dialog-button-done {
  color: #2991dc;
  padding: 10px 56px;
  background: #ffffff;
  border: 1px solid #2991dc;
  border-radius: 4px;
  margin-right: 20px;
  cursor: pointer;
}
.dialog-button-done:hover {
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
}
.dialog-button-accept {
  background: #2991dc;
  border-radius: 4px;
  width: 285px;
  color: #ffffff;
  padding: 10px 48px;
  border: none;
  cursor: pointer;
}
.dialog-button-accept:hover {
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: #f2f2f2 !important;
  border: none !important;
  margin: 0 12px !important;
  width: 159px !important;
  color: #262626;
}
.nav-link.active {
  color: #ffffff !important;
  background-color: #005da1 !important;
  border: none !important;
  border-radius: 5px !important;
}
.nav-tabs {
  border: none !important;
}
.form-button {
  background: #009a3e;
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 45px;
  border: none;
  margin: auto;
  display: flex;
}
